pin-depends: [
    # Workaround for printers...
    [ "mdx.dev" "git+https://github.com/patricoferris/mdx#e057effb41b6306864af5dfdc91fec31bf2a3d22" ]
    # Fix min DP floating point...
    [ "owl-base.dev" "git+https://github.com/patricoferris/owl#b231dcb961629837a1803abb82f87f8cbcd7e849"]
]